.graph-container {
  flex-direction: column;
  background: #fff;
  border-radius: 6px;

  display: flex;
  padding: 2rem 0;
  align-items: center;
  justify-content: center;
}
.graph-wrapper {
  width: 800px;
  padding: 2rem 1rem;
}
